h1 {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  padding: 5% 20%;
  font-size: 120px;
  background: #a3c1b1;
  background: -webkit-linear-gradient(45deg,#a3c1b1,#5791b4);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 500px) and (min-width: 320px) {
    h1 {
        padding: 5%;
        font-size: 90px;
    }
}

.urbot-trouble {
  font-family: 'lato', sans-serif;
  float: left;
  margin-top: 0;
  padding-left: 20%;
  padding-right:20%;
  -webkit-animation-delay: -3s; /* Safari 4.0 - 8.0 */
    animation-delay: -3s;
}
